:root{
    --main-theme-color:#1D3274;
    --100-present:100%;
    --white-color:#FFFFFF;
    --para-color:#000000;

}

ol, ul {
    padding-left: 0;
    margin-bottom: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1420px;
}
.head-top{
    width: --100-present;
    background-color: var(--main-theme-color);
}

.top_contact li{
    list-style: none;
}
.top_contact li img{
    margin-right: 10px;
}

.top_contact li a{
    color:var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.32px;
    text-transform: lowercase;
}

.flex-grow-0{
    flex-grow: 0;
}