
@media(min-width:1181px){
    .dropdown-img{
        display: none;
    }
    .nav-link.dropdown-toggle::after{
       border: none;
       background: url(../images/drop-down-arrow.png);
       background-repeat: no-repeat;
       background-size: 20px;
       width: 13px;
       height: 15px;
       background-position: center;
       position: absolute;
       transition: .5s;
    }
    .has-childs:hover .nav-link.dropdown-toggle::after{
     rotate: 180deg;
    }
    .has-childs:hover .hovered-child{
        display: block;
    }
}
@media (max-width: 1180px) {
    /* Place your custom CSS code here */
    .navbar{
        overflow: hidden;
    }
    .navbar-expand-lg .navbar-toggler{
        display: block;
    }
    .navbar-nav {
      display: none;
    }
  
    .navbar-toggler {
      display: block;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .navbar>.container{
        flex-wrap: wrap;
    }
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
    .show .navbar-nav{
        display: block !important;
        width: 100%;
        padding-bottom: 50px;
    }
    .show .navbar-nav li.nav-item{
        position: relative;
    }
    .show .navbar-nav li.nav-item::after{
        content: '';
        height: 1px;
        width: 138%;
        display: block;
        background-color: var(--main-theme-color);
        left: -15px;
        position: absolute;
        bottom: 0;
    }
    .collapsing{
        transition: .5s;
    }
    .hovered-child{
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .has-childs{
        /* pointer-events: none; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .hovered-child{
        width: 100%;
    }
    .navbar-bg .navbar-nav li a{
        line-height: 34px;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        position: relative;
    }
    .dropdown-toggle::after{
      display:none;
    }
    .dropdown-img{
        width: 20px;
        height: 20px;
        display: block;
        cursor: pointer;
        z-index: 999;
    }
    .has-childs a{
        width: 90%;
    }
    .has-childs img{
        margin-left: auto;
    }
    .hovered-child{
        border: none;
    }
    .hovered-child .dropdown-item {
        position: relative;
    }
    .hovered-child .dropdown-item::after {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background-color: var(--main-theme-color);
        left: 0px;
        position: absolute;
        bottom: 0;
    }
    .hovered-child .dropdown-item:last-child::after{
        display: none;
    }
    .head-top{
        display: none;
    }
    .row{
        margin-right: 15px;
        margin-left: 15px;   
       }
  }

  @media (max-width: 1180px){
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: relative;
    }
  }