@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --main-theme-color:#1D3274;
    --100-present:100%;
    --white-color:#FFFFFF;
    --para-color:#000000;
    --font-family:'Montserrat', sans-serif;
    --transparent:transparent;
    --font-family-poppins:'Poppins', sans-serif;
    --background-nath-even:#1d317405;
    --faq-border:#eed6d633;
    --orange:#F78B09;
    --trans-orange:#f78c0943;

}

ol, ul {
    padding-left: 0;
    margin-bottom: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover,a:focus,a:visited,a:active{
    color:var(--main-theme-color);
}


.dropdown-item.active, .dropdown-item:active{
    background-color: var(--transparent);
}
.container{
    max-width: 1420px;
}
.head-top{
    width: --100-present;
    background-color: var(--main-theme-color);
}

a.navbar-brand img{
    width: 130px;
    height: 130px;
}

.navbar-bg{
    background-color: var(--white-color) !important;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-bg .navbar-nav li a{
    color:var(--para-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: -0.32px;
    text-transform: capitalize;
    font-family: var(--font-family);
}
.top_contact li{
    list-style: none;
}
.top_contact li img{
    margin-right: 10px;
}

.top_contact li a{
    color:var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.32px;
    text-transform: lowercase;
}

.flex-grow-0{
    flex-grow: 0;
}



.cate-banner{
    background-image: linear-gradient(#00000071,#0000005b),url(../images/cate-banner-demo.png);
    height: 490px;
    background-position: center;
    background-size: contain;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    color: #FFF;
font-family: var(--font-family);
font-size: 125px;
font-style: normal;
font-weight: 900;
line-height: 92%; /* 115px */
letter-spacing: -6.25px;
margin-bottom: 0;
}


.tours{
    border: 1px solid #E0E0E0;
    background: #FAFAFA;
}
.tours-img img{
    width: 100%;
    height: 217px;
    object-fit: cover;
}
.tours-icons .icons{
    text-align: center;
    width: 33%;
}

.book-btn a{
color: var(--white-color);
font-family: var(--font-family);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 50px;
letter-spacing: 0.32px;
background-color: var(--main-theme-color);
width: 100%;
height: 50px;
display: block;
text-align: center;
}

.tour-content{
    padding: 10px;
}
.tour-content h3{
    margin-bottom: 25px !important;
    width: 85%;
    margin: auto;
    color: var(--para-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.406px; /* 159.075% */
    letter-spacing: -0.42px;
    text-transform: uppercase;
    height: 60px;
    overflow: hidden;
}

.tours-icons .icons img{
    width: 20px;
    height: 20px;
}
.tours-icons .icons h4{
    color: var(--para-color);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.531px; /* 122.068% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
.tours-icons .icons p{
    text-align: center;
    color: #6A6A6A;
    font-family: var(--font-family-poppins);
    font-size: 15.407px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.531px; /* 126.763% */
    letter-spacing: 0.462px;
}
.section-title{
    margin-bottom: 33px;
    padding-top: 33px;
}
.section-title h1,.section-title h2{
    color:var(--main-theme-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2px;
    margin-bottom: 29px;
}

.section-title p{
    color: var(--para-color);
    text-align: center;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.48px;
    width: 85%;
    margin: auto;
}

.top-section{
    padding-bottom: 50px;
}

section:nth-child(even){
    background-color: var(--background-nath-even);
}
.middle-section{
    padding-top: 33px;
}
.middle-section .section-title{
    margin-top: 0;
}

.faq-box .accordion-flush .accordion-item{
    border: 1px solid;
    border: 1px solid var(--faq-border);
    background: #FAFAFA;
    margin-bottom: 15px;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed),.accordion-flush .accordion-collapse{
    background-color: var(--main-theme-color);
    color: var(--white-color);
    box-shadow: none;
}
.accordion-button::after{
    background-image: url(../images/icons/plus.svg);
}
.accordion-button:not(.collapsed)::after{
    background-image: url(../images/icons/minus.svg);
}

.faq-box .accordion-flush .accordion-item h2.accordion-header button{
    padding: 15px 16px;
}

.gy-42{
gap: 42px 0;
}

.faq-box{
    padding-top: 8px;
    padding-bottom: 35px;
}

.testimonials{
    background: linear-gradient(180deg, #1C517E 0%, #1D3274 100%);
    padding-bottom: 50px;
}
.testimonials .section-title{
    margin: 0;
    padding-top:0 ;
}
.testimonials .section-title.text-center h2{
    color: var(--white-color);
}
.testimonials .section-title.text-center p{
    color: var(--white-color);
    padding-bottom: 31px;
}

.payments-slider-box{
    padding-bottom:50px;
}
.payments-slider{
    display: flex;
    align-items: center;
    gap: 25px;
}

.payments-slider li img{
    height:120px;
    margin: auto;
}

.payments-slider .slick-arrow{
    background: transparent;
    border-radius: 50%;
    color: transparent;
    position: absolute;
    border: transparent 1px solid;
}

.payments-slider .slick-arrow img{
    width: 50px;
    height: 50px;
}

.news-latter{
    background: #E9E9E9;    
    padding-bottom:200px;
}
.news-latter-box{
    text-align:center;
}

.news-latter-box form{
    background:var(--white-color);
    height:50px;
    width:fit-content;
    margin:auto;
    display:flex;
    gap:10px;
    /* padding:0 10px; */
    align-items:center;
    width: 45%;
}
.news-latter-box form input[type='email']{
    width: 100%;
    background:transparent;
    border:none;
    outline:none;
}
.news-latter-box form input[type='submit']{
    min-width:120px;
    background:var(--main-theme-color);
    color:var(--white-color);
    border:none;
    outline:none;
    height:100%;
}
.news-latter-box form::before{
    content:'';
    width:80px;
    height:50px;
    background: var(--white-color);
    background-image:url('../images/icons/email.svg');
    position:relative;
    display:inline-block;
    background-size:50px;
    background-repeat:no-repeat;
    background-position:center center;
}

.footer_Float{
    width:100%;
    background:var(--white-color);
    top:-165px;
    position:relative;
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.10);
    padding:50px;
}
.footer_Float div ul li{
    padding:5px 0;
}
.footer_Float div ul li a{
    color:var(--para-color);
    padding:10px 0;
}
footer{
    background: linear-gradient(180deg, #FEB600 0%, #EF6C0C 100%);
}

.margin-top-minus{
    margin-top:-70px;
}

.text-ligh h4{
    color:var(--white-color);
    font-family: var(--font-family-poppins);
    font-size: 23px;
    font-weight: 600;
    line-height: 107%; /* 24.61px */
}


.text-ligh p{
    color:var(--white-color);
    font-family: var(--font-family-poppins);
    font-size: 12px;
    font-weight: 400;
    line-height: 102%; /* 12.24px */
    letter-spacing: 0.24px;
}

/* home page start */
.home-banner{
    background-image: url('../images/home-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0;
}
.home-banner .home-heading h1{
    background: linear-gradient(90deg, #162468 0%, #4382BA 65.63%, #4D87BA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; 
    letter-spacing: -6px;
    margin-bottom: 17px;
}
.home-banner .home-heading p{
    width: 75%;
    color: #393939;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}

.home-banner .right-navigation .banner-nav li{
    text-align: end;
    padding-right: 20px;
    position: relative;
}
.home-banner .right-navigation .banner-nav li a{
    color: #4D4D4D;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 333.333% */
    letter-spacing: -0.3px;
    text-transform: capitalize;
}
.home-banner .right-navigation .banner-nav li::after{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-8px);
    width: 14px;
    height: 13px;
    flex-shrink: 0;
    border-radius: 50%;
}
.home-banner .right-navigation .banner-nav li:nth-child(1)::after{
    content: '';
    background-color: #1D79D5;
}
.home-banner .right-navigation .banner-nav li:nth-child(2)::after{
    content: '';
    background-color: #FF3161;
}
.home-banner .right-navigation .banner-nav li:nth-child(3)::after{
    content: '';
    background-color: #24D477;
}
.home-banner .right-navigation .banner-nav li:nth-child(4)::after{
    content: '';
    background-color: #F9B13E;
}
.home-banner .right-navigation .banner-nav li:nth-child(5)::after{
    content: '';
    background-color: #B459DF;
}
.home-banner .right-navigation .banner-nav li:nth-child(6)::after{
    content: '';
    background-color: #FFCC00;
}
.home-banner .right-navigation .banner-nav li:nth-child(7)::after{
    content: '';
    background-color: #00ABBD;
}
.home-banner .right-navigation .banner-nav li:nth-child(8)::after{
    content: '';
    background-color: #F15A22;
}

.center-and-border{
    text-align: center;
    border-right: 1px solid;
}
.center-and-border:last-child{
    border: none;
}
.explore-inner-box img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.tours-detail{
    max-width: 350px;
}
.tours-detail .book-btn a{
    width: fit-content;
    padding: 0 15px;
}
.tours-section .container div.row.align-items-center:nth-child(odd){
    flex-direction: row-reverse;
}
.explore-world{
    padding-bottom: 50px;
}

.trans-btn{
    border:none;
    outline: none;
    color: var(--orange);
    background-color: var(--trans-orange);
    padding: 0 30px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
}

.advanture{
    padding: 50px 0;
    background-image: url(../images/bg/map-shape.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.advanture-text-box{
    margin-top: 50px;
}
.advanture-text-box h2{
    font-size: 45px;
    line-height: 55px;
    font-family: var(--font-family-poppins);
    font-weight: 600;
    margin-top: 20px;
}
.advanture-text-box p{
    font-size: 16px;
    color: #82828A;
}
.icon-box .inner-text h4{
    font-size: 20px;
    
    line-height: 33px;
}
.icon-box .inner-text p, .icon-box .inner-text p a{
    font-size: 16px;
    color: #82828A;
}
.icon-box .fa-solid{
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
}

.icon-box .d-flex:hover     .fa-solid{
    background-color: var(--orange);
  color: var(--white-color);
}


.card{
    width: 90%;
    margin-left: auto;
    padding:15px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);

}

.icon .fa-solid{
    font-size: 50px;
    color: var(--orange);
    background-color: var(--faq-border);
    margin-bottom: 40px;
    padding: 20px 18px;
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
}
.marging-manager{
    margin-top: 50px;
}

.gaping{
    margin-bottom: 50px;
}
.left-shape-bg{
    background: url(../images/bg-shape-left.png), #1D3274 50% / cover no-repeat;
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    padding: 31px 0 50px 0;
}
.about-us-left{
    width: 90%;
    /* margin-left: auto; */
    padding-right: 100px;

}
.about-us-left h5{
    color: var(--white-color);
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: -2px;
}
.about-us-left p{
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.48px;
}
.orange-btn{
    padding: 0 20px;
    background-color: var(--orange);
    color: var(--white-color);
    display: block;
    height: 50px;
    width: fit-content;
    line-height: 50px;
}
.orange-btn:hover, .orange-btn:focus, .orange-btn:visited,.orange-btn:active{
    color: var(--white-color);
}

.right-shape-bg{
    margin-right: auto;
    background: url(../images/bg-shape-right.png), #212432 50% / cover no-repeat;
}
.right-shape-bg{
    display: flex;
    align-items: center;
    /* padding: 50px 0; */
}
.about-us-right{
    padding-left: 150px;
}
.about-us-right li img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 20px;
}
.about-us-right li{
    padding: 15px 0;
    color: var(--white-color);
}
.about-us{
    position: relative;
}
.about-us::after{
    content: '';
    width: 150px;
    height: 150px;
    display: block;
    z-index: 9999;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left:55%;
    top: 35%;
    transform: translateX(-69px);
}

.explorewordyourelbox{
    padding: 0 20px;
    text-align: center;
}
.explorewordyourelbox > div{
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    padding: 10px 19px;
}
.explorewordyourelbox > div:hover{
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
}
.explorewordyourelbox > div img{
    width: 60px;
    height: 70px;
    object-fit: contain;

}
.explore-world-yourself{
    padding-bottom: 50px;
}
.explorewordyourelbox > div h6{
    color:var(--para-color) ;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 34px; /* 154.545% */
    text-transform: capitalize;
    padding: 25px 0 17px 0;
}


.explorewordyourelbox > div p{
    color: #595959;
    text-align: center;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.282px; /* 126.763% */
    letter-spacing: 0.48px;
}

.ButtonBase__Overlay-sc-p43e7i-4.jUXzLe{
    height: 50px;
    background-color: var(--orange) !important;
}

.single-page-banner img{
    width: 100%;
}
/* home ends here */


/* singlepage  */

.tour-info .left-box p{
    color: var(--para-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.tour-info .left-box h5{
    color: var(--main-theme-color);
    font-family: var(--font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.3px;
}
.tour-info .tour-price p{
    color: var(--para-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.tour-info .tour-price h5{
    color: var(--main-theme-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tour-book-btn
.book-btn{
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    border: 2px solid var(--main-theme-color);
    color: var(--main-theme-color);
    width: fit-content;
    display: flex;
    align-items: center;
}


.custom-row-col{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
   
}
.tour-info{
    padding: 50px 0 50px 0;
}
footer p,footer p a{
    color: var(--white-color) !important;
    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.custom-row-col .flex-boxes{
    width: 20%;
    border-right: 1px solid #BCBCBC;

}
.custom-row-col .flex-boxes:last-child{
    border-right: none;
}
.custom-row-col .flex-boxes .inside-flex-box{
    width: fit-content;
    margin: auto;
}
.custom-row-col .flex-boxes:first-child .inside-flex-box{
    margin: 0;
}
.custom-row-col .flex-boxes .inside-flex-box h5{
    color: var(--para-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.custom-row-col .flex-boxes .inside-flex-box p{
    color: var(--main-theme-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about-product{
    background-color: #fcfcfc;
    padding-bottom: 50px;
}
.about-product img{
   width: 100%;
}

.margin-manage-top{
    margin-top: -200px;
    width: 80%;
    z-index: 999;
    position: relative;
    background-color: var(--white-color);
    padding-bottom: 50px;
    box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.05);
}
.nav-tabs .nav-link{
    color: var(--main-theme-color);
    font-weight: 600;
}

#myTabContent{
    border: 2px solid var(--main-theme-color);
    width: 90%;
    margin:auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: var(--main-theme-color);
    color: var(--white-color);
}

#myTab{
    border: none;
}
.nav-tabs .nav-link{
    border-radius: unset;
    border: none;
}
.tab-content>.active{
    padding: 28px 50px 34px 50px;
    text-align: center;
    
}
.tab-content>.active p:last-child{
    margin-bottom: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    isolation:unset;
    border-color:unset;
}
.nav-item{
    border-width:0;
}

.tab-content>.active h4{
    color: var(--para-color);
    font-family:var(--font-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 29.1px */
    padding-bottom: 17px;
}

.includes{
    background: linear-gradient(180deg, #1C517E 0%, #1E3577 100%);
    padding-bottom: 50px;
}
.includes div.row{
    gap: 50px 0;
}
.includes .section-title h2{
    color: var(--white-color);
}
.includes .section-title p{
    color: var(--white-color);
}

.box-includes{
    background-color: var(--white-color);
    padding: 15px 0 15px 15px;
    align-items: center;
}
.box-includes img{
    width: 68px;
    height: 68px;
    margin-right: 20px;
}
.box-includes .text-box h6{
    color: var(--main-theme-color);
    font-family: var(--font-family);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}
.box-includes .text-box p{
    color: var(--main-theme-color);
    font-family: var(--font-family);
    font-size: 17.86px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.536px;
    text-transform: capitalize;
    margin: 0;
}
.payments-slider .arrows{
    height: 50px;
    width: 50px;
    border: 2px solid var(--main-theme-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.payments-slider .arrows i{
    color: var(--main-theme-color);
}

.news-latter .section-title p{
    width: 100%;
}

.home-banner .row{
    justify-content: space-between;
}

.social-media li a img{
    width: 25px;
    margin-right: 10px;
}

.icon-box div img{
    width: 50px;
}

